.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5em auto;
}

.item_card {
  display: flex;
  justify-content: center;
  margin: 0.5em auto
}

.item_card img {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    object-fit: cover;
    margin: 25px;
}

.card_content {
  text-align: center;
  margin: 1em auto;
}

.item_link {
  text-decoration: none;
}


.box .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

.box .row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .row span {
    color: black;
}

.box p {
    line-height: 1.5;
    margin: 15px 0;
}
