 .cart-page {
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
}

.cart-page > h1{
    text-align: center;
}

.cart-box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
    text-align: center;
}

.cart-box .cart-row {
    margin-bottom: 15px;
}

.cart-box .cart-row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-box .cart-row span {
    color: black;
}

.cart-box p {
    line-height: 1.5;
    margin: 15px 0;
}


.cart{
    position: relative;
    border: 1px solid #ccc;
}

.cart img {
    max-width: 225px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 25px;
}


.delete {
    position: absolute;
    top:0;
    right: 5px;
    color: gray;
    cursor: pointer;
    font-size: 1.5rem;
}

.delete i {
    color: red;
    font-size: 1em;
}

.amount span {
    color: black;
    padding: 0 20px;
}

.amount .count {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.total {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total button {
    padding: 0.5em;
    font-size: 1em;
}

.total h3 {
    margin-right: 50px;
}

.total button {
    margin-left: 1em;
}

@media screen and (min-width: 768px) {
    .cart-box {
        max-width: 500px;
        min-width: 290px;
        margin: 25px;
        text-align: unset;
    }

.cart-box .cart-row {
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
    }
}