 .cart-page {
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
}

.cart-page > h1{
    text-align: center;
}

/*
main.cart-page {
    padding: 10px;
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: black;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


.cart-item img {
    margin-right: auto;
    margin-left: 10px;  
    max-width: 12vw; 
} */

.cart-box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.cart-box .cart-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-box .cart-row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-box .cart-row span {
    color: black;
}

.cart-box p {
    line-height: 1.5;
    margin: 15px 0;
}


.cart{
    position: relative;
    border: 1px solid #ccc;
}

.cart img {
    max-width: 225px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 25px;
}


.delete {
    position: absolute;
    top:0;
    right: 5px;
    color: gray;
    cursor: pointer;
    padding: 0.25em;
    font-size: 1.5rem;
}

.amount span {
    color: black;
    padding: 0 20px;
}

.amount .count {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.total {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total h3 {
    margin-right: 50px;
}

.total button {
    margin-left: 1em;
}